footer
    .register
        .container-fluid
                .text
                    span ĐĂNG KÝ NHẬN KHUYẾN MẠI
                .input-btn
                    form#email-footer
                        input(type="text", name="eMail", placeholder="Địa chỉ email của bạn")
                        button(type="submit") Đăng ký
                
    .information
        .container-fluid
            .row
                .col-12.col-md-6.col-lg-3
                    .title
                        span Thông tin cửa hàng
                    .title-text
                        span Địa chỉ: Tầng 402, tòa nhà M5, Mipec City View
                        span &#32; 120 Đường Lê Xuân Điệp, Kiến Hưng, Hà Đông, Hà Nội 
                    .title-text
                        span Giờ mở cửa: Từ 8h00 đến 22h00
                    .title-text
                        span Số điện thoại: 096.765.2510 / 0375.685.191
                    .title-text
                        span Email: shopmebin@gmail.com
                .col-12.col-md-6.col-lg-3
                    .title
                        span Hỗ trợ khách hàng
                    .title-text
                        a(href="#") Các câu hỏi thường gặp  
                    .title-text
                        a(href="#") Gửi yêu cầu hỗ trợ
                    .title-text
                        a(href="#") Hướng dẫn đặt hàng
                    .title-text
                        a(href="#") Hướng dẫn đổi trả
                    .title-text
                        a(href="#") Phương thức vận chuyển
                .col-12.col-md-6.col-lg-3
                    .title
                        span Phương thức thanh toán
                    .img
                        img(src="img/footer/zalo-icon.png", alt="thanh toán zalo")
                        a(href="#") Thanh toán qua Zalo Pay
                    .img
                        img(src="img/footer/momo-icon.png", alt="thanh toán momo")
                        a(href="#") Thanh toán qua Momo
                    .img
                        img(src="img/footer/bank.svg", alt="thanh toán ngân hàng")
                        a(href="#") Thanh toán bằng chuyển khoản
                    .img
                        img(src="img/footer/money.svg", alt="thanh toán tiền mặt")
                        a(href="#") Thanh toán bằng tiền mặt
                .col-12.col-md-6.col-lg-3
                    .title
                        span Facebook của chúng tôi
                    iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthuydungwinter.cubin%2F&tabs=timeline&width=360&height=150&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='360' height='150' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
