extends template-part/layout.pug
block style
    link(rel="stylesheet", href="css/baiviet-style.css")
block title
    title Bài viết
block content
    .container#blog-content
        .text-link
            a(href="index.html") Trang chủ &rsaquo;&nbsp;
            .min-box Bài viết
    .container
        .zone-doc
            .doc(data-aos="fade-right")
                .img-doc
                    img(src="img/doc/doc1.jpg", alt="ảnh bài viết")
                .title-doc
                    .title-main
                        p Những lưu ý quan trọng khi mua sắm đồ sơ sinh cho bé
                    .title-note
                        .note
                            img(src="img/doc/calendar.svg", alt="icon lịch")
                            span 07/06/2020
                        .note   
                            img(src="img/doc/write.svg", alt="icon bút")
                            span Admin
                .content-doc
                    p Chuẩn bị đồ sơ sinh là việc làm vô cùng tỉ mỉ, quan trọng, những người chưa từng sinh con, các ông bố thì nghĩ nó đơn giản, cứ đưa tiền cho vợ là có thể xong việc. Nhưng cũng ít người hiểu được những khó khăn vất vả mà các mẹ gặp phải khi mua đồ sơ sinh cho con. Đặc biệt các mẹ còn bận công việc trên cơ quan lại kiêng khem kỹ không dám mua sớm...
                a(href="baiviet-chitiet.html")
                    button Đọc tiếp &raquo;
            hr
            .doc(data-aos="fade-left")
                .img-doc
                    img(src="img/doc/doc2.jpg", alt="ảnh bài viết")
                .title-doc
                    .title-main
                        p Cách chọn đồ cho bé trai thông minh nhất
                    .title-note
                        .note
                            img(src="img/doc/calendar.svg", alt="icon lịch")
                            span 25/10/2020
                        .note   
                            img(src="img/doc/write.svg", alt="icon bút")
                            span Admin wife
                .content-doc
                    p Mẹ nên lựa chọn những bộ quần áo có chất liệu tốt. Điển hình nhất là các sản phẩm được làm từ chất liệu cotton 100% hoặc sợi len mềm, vải sợi trẻ. Những chất liệu này sẽ mang lại cảm giác thoải mái, dễ chịu êm ái khi mặc. Đặc biệt, chúng còn giúp bảo vệ làn da cho trẻ không bị kích ứng khi diện những trang phục được làm từ chất liệu tốt...
                a(href="baiviet-chitiet.html")
                    button Đọc tiếp &raquo;
            hr
            .doc(data-aos="fade-right")
                .img-doc
                    img(src="img/doc/doc3.jpg", alt="ảnh bài viết")
                .title-doc
                    .title-main
                        p Lời khuyên hữu ích khi chọn mua đầm bé gái 1 tuổi
                    .title-note
                        .note
                            img(src="img/doc/calendar.svg", alt="icon lịch bieu")
                            span 07/11/2020
                        .note   
                            img(src="img/doc/write.svg", alt="icon bút")
                            span Admin
                .content-doc
                    p Là bố mẹ chắc chắn ai cũng muốn những điều tốt nhất cho con mình. Không ít gia đình có điều kiện đầu tư khá nhiều vào mảng trang phục làm điệu cho con, đặc biệt là bé gái. Những chiếc đầm bé gái 1 tuổi hiện nay có mẫu mã và kiểu dáng đa dạng không kém đầm người lớn....
                a(href="baiviet-chitiet.html")
                    button Đọc tiếp &raquo;
        .next-page
            button#btn1 1
            button#btn2 2
            button#btn3 3
