extends template-part/layout.pug
block style
    link(rel="stylesheet", href="css/baiviet-style.css")
block title
    title Lời khuyên hữu ích khi chọn mua đầm bé gái 1 tuổi
block content
    .container
        .text-link
            a(href="index.html") Trang chủ &rsaquo;
            a(href="bai-viet.html") &nbsp;Bài viết &rsaquo;&nbsp;
            .min-box Lời khuyên hữu ích khi chọn mua đầm bé gái 1 tuổi
    .container
        .row
            .col-12.col-md-7.col-lg-7.col-xl-7
                .zone-doc-one
                    .doc
                        .title-doc
                            .title-main
                                p Lời khuyên hữu ích khi chọn mua đầm bé gái 1 tuổi
                            .title-note
                                .note
                                    img(src="img/doc/calendar.svg", alt="icon lịch")
                                    span 07/11/2020
                                .note   
                                    img(src="img/doc/write.svg", alt="icon bút")
                                    span Admin
                        .content-doc
                            p Việc lựa chọn đầm cho bé gái 1 tuổi tưởng khó mà dễ, tưởng dễ nhưng lại khó. Đôi khi việc mua quần áo đầm váy cho bé chỉ là theo sở thích riêng của các mẹ nên nhiều lúc đồ mua về bé không thích, hay quần áo không được hợp thời trang mặc dù nhìn thì rất đẹp. Chưa kể đến thương hiệu hay chất liệu vải rất quan trọng vì trẻ con không nói lên được suy nghĩ về bộ đồ làm chúng khó chịu. Dưới đây là một số lưu ý khi lựa chọn váy cho bé gái 1 tuổi dành cho các mẹ.
                            p(style="font-weight:bold") Chất liệu vải
                            p Mẫu mã, kiểu dáng đầm bé gái 1 tuổi là điều cần quan tâm nhưng chất liệu vải còn quan trọng hơn. Chất liệu không chỉ ảnh hưởng đến vẻ đẹp của chiếc đầm, nó còn có thể gây ra những vấn đề về da và sức khỏe của con. Làn da và tế bào biểu bì của người lớn đã khá vững chắc và có thể tự kháng lại một số tác nhân gây hại bên ngoài. Ngược lại làn da bé yêu mỏng hơn và dễ bị tác động bởi các yếu tố bên ngoài. Do đó nếu loại vải không phù hợp hay từ nguồn gốc xuất xứ không tốt sẽ dễ dàng khiến làn da của công chúa của bạn bị tấy đỏ, mẩn ngứa.
                            img(src="img/doc/doc6.jpg", alt="ảnh bài viết")
                            p Không những thế, đã từng có nhiều tin tức tố giác một số loại vải được nhuộm màu nguồn gốc Trung Quốc là các hóa chất độc hại có thể gây hại cho sức khỏe của con. Đã có nhiều trường hợp những bé có làn da quá nhạy cảm phải nhập viện chỉ vì dị ứng với loại vải bộ đồ bé đang mặc. Chính vì vậy để bảo vệ con thì hãy lựa chọn những thương hiệu uy tín. Các mẹ cũng có thể tham khảo thêm một số loại vải chuyên dụng để may đầm bé gái 1 tuổi như là: cotton, ren, voan, phi bóng, chiffon…
                            p(style="font-weight:bold") Màu sắc, họa tiết
                            p Màu sắc họa tiết cũng ảnh hưởng rất nhiều đến tổng quát thẩm mỹ chiếc đầm khi mặc lên người con bạn. Với những bé da trắng thì việc lựa chọn quần áo thật dễ dàng, tuy nhiên với những bé có làn da ngăm thì cần tránh xa những màu sắc quá nổi bật và nóng. Thay vào đó, mẹ hãy cân nhắc những gam màu pastel nhẹ nhàng và dễ thương để khiến cho khuôn mặt bé không bị tối lại.
                            img(src="img/doc/doc7.jpg" alt="ảnh bài viết")
                            p Ngoài ra, việc lựa chọn họa tiết trên đầm cũng vô cùng quan trọng. Bản thân dù là đầm công chúa nhưng bạn đừng nên quá lạm dụng những họa tiết nơ, bông hoa to, màu kén sẽ phản tác dụng khiến tổng thể bộ đầm trở nên kỳ cục. Những họa tiết sinh động, giản dị trên quần áo hay những phụ kiện đơn giản kèm theo nên được ưu tiên. Dù sao bản thân bé đã xinh xắn dễ thương nên các mẹ không cần quá xem nặng chọn đầm thật nhiều họa tiết.
                            p(style="font-weight:bold") Kiểu dáng
                            p Một lưu ý chung dành cho các ông bố bà mẹ khi chọn đầm cho cô công chúa nhỏ là hãy chọn rộng hơn so với form người bé một chút. Các em bé thường lớn nhanh như thổi, trong khi những bộ đầm bé gái 1 tuổi đa phần thường chỉ mặc vào những dịp đi chơi, lễ tết, không có cơ hội mặc thường xuyên như đồ nhà. Do đó, sẽ thật lãng phí khi chiếc đầm chỉ được sử dụng đúng 1 lần rồi bị chật do con bạn lớn nhanh, trong khi giá thành đầm bé gái hiện nay không hề rẻ.
                            img(src="img/doc/doc8.jpg", alt="ảnh bài viết")
                            p Ngoài ra, con mới 1 tuổi đi chưa thật sự vững, do đó hạn chế cho bé mặc những chiếc đầm gây bất tiện cho bé vận động. Cụ thể, mẹ nên hạn chế lựa những kiểu đầm quá dài khiến con dễ đạp chân váy và vấp té. Những kiểu đầm cầu kỳ, ôm sát cũng sẽ làm con khó chịu. Nếu có thể, nên hạn chế chọn những chiếc đầm có đính hạt ngọc, kim sa vì khiến bé không thoải mái khi nằm và lỡ bé bứt ra cho vào miệng thì khá nguy hiểm.
                            p(style="font-weight:bold") Trang phục hợp thời tiết
                            p Nếu là con đi tiệc hay chụp hình ngoài trời, mẹ hãy lựa cho bé những chiếc đầm bé gái 1 tuổi mỏng, thoải mái, bằng cotton để thấm hút mồ hôi tốt. Tuy nhiên mẹ đừng quên những phụ kiện che nắng cho bé như găng tay, nón vì ánh nắng dễ làm làn da con yêu bị tổn thương.
                            img(src="img/doc/doc9.jpg", alt="ảnh bài viết")
                            p Các mẹ cũng đừng nên chủ quan những buổi tiệc trong nhà vì máy lạnh có thể làm con bạn bị cảm nếu chẳng may bé mặc quá phong phanh như đầm cộc tay, hai dây. Vào mùa đông, các mẹ nên chọn những kiểu đầm len và đi tất nguyên đôi chân để vừa giữ ấm, vừa tạo nên một phong cách thời trang rất riêng cho nàng công chúa nhỏ của bạn.
                            p Bởi lẽ trẻ nhỏ rất hiếu động, nghịch ngợm và ngọ ngoạy liên tục, mẹ nên mặc đồ rộng một chút, đặc biệt mùa đông để trẻ có đủ không gian thoải mái và không bị gò bó khó chịu dẫn tới quấy khóc.
                            
            .col-12.col-md-5.col-lg-5.col-xl-5 
                .doc-new-title
                    p BÀI VIẾT MỚI NHẤT
                hr
                .doc-new
                    .row
                        .col-4
                            a(href="baiviet-chitiet.html")
                                img(src="img/doc/doc1.jpg", alt="ảnh bài viết")
                        .col-8
                            .title-doc-new
                                .title-main-new
                                    a(href="baiviet-chitiet.html")
                                        p Những lưu ý quan trọng khi mua sắm đồ sơ sinh cho bé
                                .title-note-new
                                    .note-new
                                        img(src="img/doc/calendar.svg", alt="icon lịch")
                                        span 07/06/2020
                                    .note-new  
                                        img(src="img/doc/write.svg", alt="icon bút")
                                        span#one-line |&nbsp;
                                        span Admin
                hr
                .doc-new
                    .row
                        .col-4
                            a(href="baiviet-chitiet.html")
                                img(src="img/doc/doc2.jpg", alt="ảnh bài viết")
                        .col-8
                            .title-doc-new
                                .title-main-new
                                    a(href="baiviet-chitiet.html")
                                        p Cách chọn đồ cho bé trai thông minh nhất
                                .title-note-new
                                    .note-new
                                        img(src="img/doc/calendar.svg", alt="icon lịch")
                                        span 25/10/2020
                                    .note-new  
                                        img(src="img/doc/write.svg", alt="icon bút")
                                        span#one-line |&nbsp;
                                        span Admin
                hr
                .doc-new
                    .row
                        .col-4
                            a(href="baiviet-chitiet.html")
                                img(src="img/doc/doc1.jpg", alt="ảnh bài viết")
                        .col-8
                            .title-doc-new
                                .title-main-new
                                    a(href="baiviet-chitiet.html")
                                        p Những lưu ý quan trọng khi mua sắm đồ sơ sinh cho bé
                                .title-note-new
                                    .note-new
                                        img(src="img/doc/calendar.svg", alt="icon lịch")
                                        span 07/06/2020
                                    .note-new  
                                        img(src="img/doc/write.svg", alt="icon bút")
                                        span#one-line |&nbsp;
                                        span Admin
